@import "tailwindcss";
.inputStyles {
  @apply border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-500;
}
input[type="checkbox"] {
  width: fit-content;
  border-radius: 30%;
  cursor: pointer;
  width: 18px;
  height: 18px;
  appearance: none;
  border: solid 1px #2c3166;
  transition: all 0.3s;
  &:checked {
    border-radius: 100%;
    border: none;
    background-color: #383f7e;
    transition: all 0.3s;
  }
}
input[type="radio"] {
  width: fit-content;
  border-radius: 100%;
  cursor: pointer;
  width: 15px;
  height: 15px;
  appearance: none;
  border: solid 1px #4952b8;
  display: inline-block;
  position: relative;
  &:checked {
    border: none;
    background-color: #343a79;
  }
}
